{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posting create</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
<form method="post" action="">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="submit" value="Save" class="btn btn-primary" id="submit-id-submit">
</form>
</body>
</html>